---
layout : default
title : Fun with Wu Morse Duo
---

<p>
<div class="page-wrapper">
	<div id="page" class="container">
	{% for item in site.data.events %}
		<div class="title">
			<li><h3><a href="{{ item.url }}"> {{ item.title }}</a></h3>
			{% if item.date %} <p>Time: {{ item.date | date_to_long_string }}<br> {% endif %}
			{% if item.location %} Place: {{ item.location }}<br> {% endif %}
			{% if item.address %} Address: {{ item.address }} {% endif %}   {% if item.map %}<a href=" {{ item.map }}"> (map)</a>{% endif %}<br>
			<!--<p>URL: <a href="{{ item.url }}">{{ item.url }}</a></p> -->
			{% if item.telephone %} Tel: {{ item.telephone }} {% endif %}
			</li>
		</div>
	{% endfor %}
	</div>
</div>
</p>