<div id="menu">
				<ul>
				<li class="first"><a href="index.html">Home</a></li>
				<li><a href="about.html">About Allen</a></li>
				<li><a href="articles.html">Articles</a></li>
				<li><a href="music.html">Music</a></li>
				<li><a href="codes.html">Codes</a></li>
				<li><a href="others.html">Other Works</a></li>
				<li class="last"><a href="http://emailmebutton.com/frame/view/15102"><img src="http://emailmebutton.com/images/emailme.png" border="0"/></a></li>
				</ul>
			<br class="clearfix" />
			</div>