<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Prolific
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120719
-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>{% if page.title %} {{ page.title }} | {% endif %} Allen Music</title>
		<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<div id="outer">
			<div id="wrapper">
				{% include menu.html %}
				{% include header.html %}
				<div id="page">
				<div id="sidebar">
					<div class="box">
						<h3>Music, Math, Muse</h3>
						<p>
							Welcome to my website.  Hope you enjoy the info and music here.
						</p>

						<p>
							Music is whatever you think music is.  When you define the bondries of music, you define boundries of your acoustic world.
						</p>
					</div>
					{% include sidemenu.html %}
				</div>
				<div id="content">
					<div class="box">
						<h2>Allen Wu</h2>
						<img class="alignleft" src="images/y1pA4OUp6MDAgrHGugknUoy3jD-vxB_Snunotw4qSgIJOUsWnwTsxoP3tt0B_m2Swlbavqv_vN4D4Q.jpg" alt="" />
						<p>

							Shu-Cheng Allen Wu is a DMA student of music composition and Fulbright scholar at University of Illinois in Urbana Champaign. Allen’s research and interests included in his doctorate studies are electronic music, electro-acoustic music, algorithmic music composition, music programming, music information retrieval, and live coding music.

						</p>
					</div>
					{% include colume1.html %}
					{% include colume2.html %}
					<br class="clearfix" />
				</div>
				<br class="clearfix" />
				</div>
			</div>

			<div id="footer">
			&copy; Allen Wu | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>
				<br/><br/>
				<!-- hitwebcounter Code START -->
				<a href="http://www.hitwebcounter.com" target="_blank">
				<img src="http://hitwebcounter.com/counter/counter.php?page=6124173&style=0049&nbdigits=5&type=page&initCount=0" title="Must See Places In Paris" Alt="Must See Places In Paris"   border="0" >
				</a>
			</div>
		</div>
	</body>
</html>
