<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Prolific
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120719
-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>{% if page.title %} {{ page.title }} | {% endif %} Allen Music</title>
		<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="https://dl.dropboxusercontent.com/u/3165115/Sites/css/style.css" />
	</head>
	<body>
		<div id="outer">
			<div id="wrapper">
				<div id="menu">
					<ul>
					<li class="first"><a href="../index.html">Home</a></li>
					<li><a href="../about.html">About Allen</a></li>
					<li><a href="../articles.html">Articles</a></li>
					<li><a href="../music.html">Music</a></li>
					<li><a href="../codes.html">Codes</a></li>
					<li><a href="../others.html">Other Works</a></li>
					<li class="last"><a href="http://emailmebutton.com/frame/view/15102"><img src="http://emailmebutton.com/images/emailme.png" border="0"/></a></li>
					</ul>
					<br class="clearfix" />
				</div>

				{% include header.html %}
				<div id="page">
					<!--Put Your Code Here-->
					{{ content }}



				<br class="clearfix" />
				</div>
			</div>
			<div id="footer">
			&copy; Allen Wu | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a><br/><br/>
			</div>
		</div>
	</body>
</html>
